.settings-layout {
	height: calc(100vh - 70px);
	&__wrapper {
		display: flex;
		height: 100%;
	}
	&__body {
		position: relative;
		width: 100%;
		background: #F3F5F7;
		padding: 2.1rem 3rem 2.1rem 3rem;
	}
}
